.IputPopUp {
  color: red;
  width: 90%;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  textarea {
    width: 475px;
    height: 80px;
    border: 1px solid #ccc !important;
    border-radius: 8px;
    flex-wrap: wrap;
    padding: 20px;
    color: hsl(211deg, 10%, 45%);
    font-weight: 600;
  }
  textarea:focus {
    outline: 0;
  }

  button {
    background-color: hsl(238deg, 40%, 52%);
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
  }
}
