.Home {
  width: 700px;
  margin: 0 auto;
  padding-top: 20px;
  background-color: hsl(223, 19%, 93%);
  .scroll {
    height: 100vh;
    overflow: scroll;
  }
  .cart {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: white;

    .butSection {
      // background-color: #f5f6fa;
      background-color: hsl(223, 19%, 93%);
      border-radius: 10px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      width: 45px;
      height: 70px;
    }
    .btn {
      color: hsl(239, 57%, 85%);
      font-weight: 800;
      border: none;
    }
    p {
      color: hsl(238, 40%, 52%);
      font-weight: 800;
      // color: red;
    }
    h5 {
      color: hsl(211deg, 10%, 45%);
      font-weight: 600;
    }
  }
  .avatar {
    width: 100%;
    .heateeFlex {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    span {
      margin-left: 13px;
    }
    .heater {
      display: flex;
      // justify-content: center;
      align-items: center;
      .userName {
        color: hsl(212, 24%, 26%);
        font-weight: 700;
      }
      .Date {
        color: hsl(211, 10%, 45%);
        font-weight: 600;
      }
    }
    .Reply {
      color: hsl(238, 40%, 52%);
      font-weight: 800;
      border: none;
    }

    img {
      width: 30px;
    }
  }
}
